:root {
  --ff: "DM Sans", sans-serif;
  --colorprimary: #fefae0;
  --colorsecondary: #606c38;
  --textColorPrimary:#283618;
  ---coloraccent: #dda15e;
  --h1: bold 96px var(--ff);
  --h2: bold 64px var(--ff);
  --h3: bold 40px var(--ff);
  --h4: normal 32px var(--ff);
  --p: normal 24px var(--ff);
  --li: normal 28px var(--ff);
  --transition: 0.3s ease-in-out;
  --links: bold 28px var(--ff);
}
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li,
.links {
  margin: 0px;
}

h1 {
  font: var(--h1);
  font-size: clamp(2rem, 0.944rem + 4.507vw, 5rem);
  
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
  font-size: clamp(1rem, 0.296rem + 3.005vw, 3rem);
  
}
h4 {
  font: var(--h4);
  font-size: clamp(0.75rem, -0.042rem + 3.38vw, 3rem);
}
p {
  font: var(--p);
  font-size: clamp(0.75rem, 0.486rem + 1.127vw, 1.5rem);
  
}
li {
  font: var(--li);
}

body {
  background-color: var(--colorprimary);
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 32fr;
  grid-template-areas:
    'navbar navbar'
    'main main';
}
main{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'hero photo'
    'aboutMe technologies'
    'projects projects'
    'contact contact';
}
/* Navigation bar */

.header {
  grid-area: navbar;
  height: 88px;
  background-color: var(--colorsecondary);
  color: var(--colorprimary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 24px;
  z-index: 1;
}
.nav-bar {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--colorprimary);
  font: var(--links);
}

.linkedIn,
.gitHub {
  color: var(--colorprimary);
}

.linkedIn:hover {
  color: var(---coloraccent);
  transition: var(--transition);
}

.gitHub:hover {
  color: var(---coloraccent);
  transition: var(--transition);
}

a:hover {
  color: var(---coloraccent);
  transition: var(--transition);
}

.nav-menu li {
  display: inline-block;
  padding: 0px 16px;
  cursor: pointer;
}

.fa-linkedin,
.fa-github {
  font-size: 28px;
  padding: 0px 16px;
  cursor: pointer;
  list-style: none;
}

.fa-globe {
  font-size: clamp(1rem, -0.056rem + 4.507vw, 3rem);
  margin-right: 8px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0px 0px 0px 16px;
}
.hamburger {
  display: none;
  cursor: pointer;
  color: var(---coloraccent);
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: var(--transition);
  background-color: var(--colorprimary);
}

/* Hero section */
.hero{
  grid-area: hero;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  color: var(--textColorPrimary)
}

.photo{
  grid-area: photo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.borderProfile{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  height: auto;
  
  clip-path: circle();
  background-color: var(--colorsecondary);
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 98%;
  height: auto;
  clip-path: circle();
}
.contactButton{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(8.75rem, 5.405rem + 22.272vw, 26rem);
  gap: clamp(1rem, 0.648rem + 1.502vw, 2rem);
  background-color: var(--colorsecondary);
  color: var(--colorprimary);
  border: 0px;
  padding: 1rem;
  border-radius: 20px;
  font-weight: bold;
}
.fa-envelope{
  font-size: clamp(1rem, -0.056rem + 4.507vw, 4rem);
}




/* main section */
.aboutMe{
  grid-area: aboutMe;
}
.technologies{
  grid-area: technologies;
}

.projects{
  grid-area: projects;
}

/* footer section */
.contact{
  grid-area: contact;
}


/* Rozdzielczość dla mobilki */
@media (max-width: 960px) {
  .hamburger {
    display: block;
    padding: 0px 16px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-bar,
  .nav-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--colorsecondary);
    border-radius: 24px;
  }
  .nav-bar {
    position: absolute;
    top: 100px;
    right: 0;
    margin: 0 12px 0 0;
    border-radius: 0 0 24px 24px;
    justify-content: flex-end;
    overflow: hidden;
    height: 0px;
  }
  .linkedIn{
    padding: 8px 0 8px 0;
  }
  .gitHub{
    padding: 0 0 8px 0;
  }

  .header.active {
    border-radius: 24px 24px 0 24px;
  }

  .nav-bar.active {
    transition: var(--transition);
    height: 224px;
  }
}
